.hero{
    height: calc(100vh - 100px);
    border-color: linear-gradient(100deg,#0c0c1d,#111132);
    overflow: hidden;
    position: relative;
    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
          .text-container{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            h1{
                font-size: 80px;
            }
            h2{
                font-size: 30px;
                color:rebeccapurple; 
                letter-spacing:10px;
            }
            .buttons{
                button{
                    padding:20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color:white;margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                }
            }
            img{
                width: 50px;
            }
        }
    .img-container{
        height: 100%;
        position: absolute;
        top:0;
        right: 0;
        img{
            border-radius: 50%;
        }
        
    }
    .sliding-text-container{
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }
 }
}