.portfolio{
  position: relative;
   .progress{
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;
    .progressBar{
        height: 10px;
        background-color: white;
    }
   }

   .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    overflow: hidden;
    .wrapper{
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      gap: 50px;
      align-items:center;
      justify-content: center;
      .imgContainer{
        flex: 1;
        height: 50%;
        img{
          height: 100%;
          width: 100%;
          object-fit:cover;
        }
      }
      .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h2{
          font-size: 50px;
        }
        p{
         color:gray;
         font-size: 20px;
        }
        button{
          background-color: orange;
          border: none;
          border-radius: 10px;
          width: 200px;
          padding: 10px;
          cursor: pointer;
          font-size: 15px;
        }
      }

    }
   
   }
}